<!DOCTYPE html>
<html>

	<head>

		<meta name="encoding" content="UTF-8" />

		<title>VirtualHost: {{ vhost.name }}</title>

	</head>

	<body>

		<h2>{{ vhost.name }}</h2>

		{% if user and rent %}

		<p>Renting user: {{ user.display_name }}</p>
		<p>Rented at: {{ rent.start_date }}</p>
		<p>Rent ends: {{ rent.end_date }}</p>

		{% else %}

		<p>Currently not rented</p>

		{% endif %}

	</body>

</html>