{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block content %}

<p>
    {% trans "Are you sure you want to delete this VirtualHost?" %}
    <br/>
    <b>{% trans "Deleting VirtualHosts is not recommended, as the renting history associated with them is also deleted." %}</b>
</p>

<form action="#" class="form-inline" method="post">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Yes' %}" class="btn btn-success" />
    <a href="{% url 'vhmadmin_vhost_list' %}" class="btn btn-sm btn-danger">
        {% trans "No" %}
    </a>
</form>

{% endblock %}