{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block body_title %}
<div class="page-header">
    <h1>{{ vhost.name }}</h1>
</div>
{% endblock %}

{% block content %}

<p><b>{% trans "Name" %}:</b> {{ vhost.name }}</p>
<p><b>{% trans "Endpoint" %}:</b> {{ vhost.get_address_port }}</p>
<p><b>{% trans "Options" %}:</b> {{ vhost.options }}</p>
<p><b>{% trans "Override setting" %}:</b> {{ vhost.allow_override }}</p>
<p><a href="{% url 'vhmadmin_vhost_edit' vhost.pk %}" class="btn btn-sm btn-info">
    {% trans "Edit" %}
</a></p>

<h3 class="page-header">{% trans "Rents" %}</h3>

{% if rents.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "User" %}</th>
            <th>{% trans "Start date" %}</th>
            <th>{% trans "End date" %}</th>
            <th>{% trans "Site Package" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for r in rents %}
        <tr>
            <td><a href="{% url 'vhmadmin_user_detail' r.user.pk %}">
                {{ r.user.display_name }}
            </a></td>
            <td>{{ r.start_date }}</td>
            <td>{{ r.end_date }}</td>
            {% if r.package %}
            <td title="r.package.description">{{ r.package.name }}</td>
            {% else %}
            <td><i>{% trans "No package" %}</i></td>
            {% endif %}
            <td>{% trans r.get_status_display %}</td>
            <td>
                {% if r.status in r.STATUS_CURRENT %}
                <a class="btn btn-xs btn-danger" href="{% url 'vhmadmin_rent_cancel' r.pk %}">
                    {% trans "Cancel" %}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No rents found." %}</p>

{% endif %}

{% endblock %}