{% extends "vhmadmin/base.html" %}
{% load i18n %}
{% load static %}

{% block sidenav %}
    <li><a href="{% url 'vhmadmin_vhost_create' %}">{% trans "Create VirtualHost" %}</a></li>
    <li><a href="{% url 'vhmadmin_vhost_group_create' %}">{% trans "Create numbered VirtualHosts" %}</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% trans "Filter by status" %} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'vhmadmin_vhost_list' %}">
                {% trans "Any" %}
            </a></li>
            <li><a href="{% url 'vhmadmin_vhost_list' %}?view_rented=1">
                {% trans "Rented" %}
            </a></li>
            <li><a href="{% url 'vhmadmin_vhost_list' %}?view_rented=0">
                {% trans "Not rented" %}
            </a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}

<div ng-app="vhmVhost" ng-controller="VhostTableController" ng-include="'{% static 'templates/table.html' %}'"></div>

{% endblock %}

{% block list_content %}

{% if vhosts.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Endpoint" %}</th>
            <th>{% trans "Options" %}</th>
            <th>{% trans "Override setting" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for vh in vhosts %}
        <tr>
            <td>{{ vh.name }}</td>
            <td>{{ vh.get_address_port }}</td>
            <td>{{ vh.options }}</td>
            <td>{{ vh.allow_override }}</td>
            <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                    {% trans "Actions" %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://{{ host }}:{{ vh.port }}">
                        {% trans "View site" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_vhost_detail' vh.pk %}">
                        {% trans "View info" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_vhost_edit' vh.pk %}">
                        {% trans "Edit" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_vhost_delete' vh.pk %}">
                        {% trans "Delete" %}
                    </a></li>
                </ul>
            </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No VirtualHosts found." %}</p>

{% endif %}

{% endblock %}