{% extends "vhmweb/base.html" %}
{% load i18n %}
{% load static %}

{% block app %}vhmAdmin{% endblock %}

{% block header %}

    <script type="text/javascript">

        var vhmConstants = angular.module("vhmConstants", []);
        vhmConstants.constant("vhmc", {
            urls: {
                rents: {
                    create: "{% url 'vhmadmin_rent_create' %}",
                    group_create: "{% url 'vhmadmin_rent_group_create' %}",
                },
                users: {
                    create: "{% url 'vhmadmin_user_create' %}",
                    group_create: "{% url 'vhmadmin_user_group_create' %}",
                },
                vhosts: {
                    create: "{% url 'vhmadmin_vhost_create' %}",
                    group_create: "{% url 'vhmadmin_vhost_group_create' %}",
                },
            },
            gettext: django.gettext,
            pgettext: django.pgettext,
            baseUrl: "/api/admin",
        });

    </script>

    <script src="{% static 'js/admin.js' %}"></script>

{% endblock %}

{% block sitename %}
<a class="navbar-brand" href="{% url 'vhmadmin_index' %}">
    VHM Administrator
</a>
{% endblock %}

{% block topnav %}
    <li><a href="{% url 'vhmadmin_rent_list' %}">{% trans "Rents" %}</a></li>
    <li><a href="{% url 'vhmadmin_user_list' %}">{% trans "Users" %}</a></li>
    <li><a href="{% url 'vhmadmin_group_list' %}">{% trans "Groups" %}</a></li>
    <li><a href="{% url 'vhmadmin_vhost_list' %}">{% trans "VirtualHosts" %}</a></li>
    <li><a href="{% url 'vhmadmin_package_list' %}">{% trans "Site packages" %}</a></li>
{% endblock %}

{% block useradmintoggle %}
    <li><a href="{% url 'vhmstudent_index' %}">{% trans "Normal view" %}</a></li>
{% endblock %}