{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block content %}

<p>
    {% trans "Are you sure you want to delete this group? Members of this group will <b>not</b> be deleted." %}
</p>

<form action="#" class="form-inline" method="post">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Yes' %}" class="btn btn-success" />
    <a href="{% url 'vhmadmin_group_list' %}" class="btn btn-sm btn-danger">
        {% trans "No" %}
    </a>
</form>

{% endblock %}