{% extends "vhmadmin/base_list.html" %}
{% load i18n %}

{% block sidenav %}
    <li><a href="{% url 'vhmadmin_group_create' %}">{% trans "New group" %}</a></li>
{% endblock %}

{% block list_content %}

{% if groups.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "Group name" %}</th>
            <th>{% trans "Member count" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for g in groups %}
        <tr>
            <td>{{ g.name }}</td>
            <td>{{ g.users.count }}</td>
            <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                    {% trans "Actions" %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'vhmadmin_group_detail' g.pk %}">
                        {% trans "Show members" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_group_pwgen' g.pk %}">
                        {% trans "Generate passwords for users" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_group_edit' g.pk %}">
                        {% trans "Edit" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_group_delete' g.pk %}">
                        {% trans "Delete" %}
                    </a></li>
                </ul>
            </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No groups found." %}</p>

{% endif %}

{% endblock %}