<div class="col-md-6" ng-repeat="link in links">
    <a class="huge-link" ng-href="{{ link.href }}">
        <div>
                <h3><i class="glyphicon" ng-class="[link.icon]"></i> {{ link.label }}</h3>
        </div>
    </a>
</div>