<p>{{ text }}</p>

<button type="button" class="btn btn-success" ng-class="{disabled: deleting}" ng-click="delete()">
	{{ gettext("Yes") }}
</button>
<a ng-href="{{ '#' + (last_route || return_link) }}" class="btn btn-danger" ng-class="{disabled: deleting}" >{{ gettext("No") }}</a>