<div class="box">

    <div ng-if="loading" class="loading-screen">
        {{ gettext('Loading data...') }}
    </div>

    <form ng-show="!loading" ng-submit="submitting ? '' : submit()">

        <div class="alert alert-danger" ng-repeat="error in errors.__all__">
            {{ error }}
        </div>

        <div ng-repeat="field in fields | orderBy:'position'">

            <div ng-switch on="field.type">

                <input ng-switch-when="hidden" type="hidden" ng-model="data[field.name]" />

                <div ng-switch-when="checkbox" class="form-group checkbox" ng-class="{'has-error': errors[field.name].length}">
                    <label class="control-label">
                        <input type="checkbox" ng-model="data[field.name]">
                        <span class="label-span">{{ field.label }}</span>
                    </label>
                    <span ng-repeat="err in errors[field.name]" class="help-block">{{ err }}</span>
                </div>

                <div ng-switch-when="radio" class="form-group" ng-class="{'has-error': errors[field.name].length}">
                    <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
                    <div class="radio" ng-repeat="(choicename, choice) in field.choices">
                        <label class="control-label">
                            <input type="radio" name="{{ field.name }}" value="{{ choice }}" ng-model="data[field.name]">
                            <span class="label-span">{{ choicename }}</span>
                        </label>
                    </div>
                    <span ng-repeat="err in errors[field.name]" class="help-block">{{ err }}</span>
                </div>

                <div ng-switch-when="select" class="form-group" ng-class="{'has-error': errors[field.name].length}">
                    <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
                    <select class="form-control input-sm" ng-multiple="field.multiple" ng-model="data[field.name]" 
                    ng-options="opt.value as opt.label for opt in field.choices" value="field.default">
                        <option ng-if="field.null_label" ng-selected="!field.default && field.null_label" value="">{{ field.null_label }}</option>
                    </select>
                    <span ng-repeat="err in errors[field.name]" class="help-block">{{ err }}</span>
                </div>

                <div ng-switch-when="datetime" class="form-group dropdown" ng-class="{'has-error': errors[field.name].length}">
                    <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
                    <a class="dropdown-toggle" id="{{ field.name }}_id" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" readonly value="{{ data[field.name] | date:vhmc.datetime_format }}"><span class="input-group-addon input-sm"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <datetimepicker ng-model="data[field.name]" datetimepicker-config="{ dropdownSelector: '#' + field.name + '_id' }"/>
                    </ul>
                    <span ng-repeat="err in errors[field.name]" class="help-block">{{ err }}</span>
                </div>

                <div ng-switch-default class="form-group" ng-class="{'has-error': errors[field.name].length}">
                    <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
                    <input type="{{ field.type }}" class="form-control input-sm" ng-model="data[field.name]" />
                    <span ng-repeat="err in errors[field.name]" class="help-block">{{ err }}</span>
                </div>

            </div>

        </div>

        <button type="submit" class="btn btn-success btn-large" ng-class="{'disabled': submitting}" ng-click="submit()">{{ submit_text }}</button>
        <a ng-href="#{{ last_route || return_link }}" class="btn btn-danger" ng-class="{'disabled': submitting}">{{ gettext('Cancel') }}</a>

    </form>

</div>