<div class="profile-area form-horizontal">

    <div ng-if="loading" class="loading-screen">
        {{ gettext('Loading data...') }}
    </div>

    <div class="form-group" ng-if="!loading" ng-repeat="info in user_info">
        <label class="col-sm-5 control-label">{{ info.label }}</label>
        <div class="col-sm-7">
            <p class="form-control-static">{{ info.value }}</p>
        </div>
    </div>

    <div class="form-group" ng-if="!loading">
        <label class="col-sm-5 control-label">{{ gettext('Password') }}</label>
        <div class="col-sm-7">
            <p class="form-control-static">
                <a href="#/profile/change_password/">{{ gettext('Change password') }}</a>
            </p>
        </div>
    </div>

</div>