
<div class="angular-table">

    <div ng-if="!loaded" class="loading-screen">
        {{ gettext('Loading data...') }}
    </div>

    <div ng-if="loaded">

        <div class="top-bar">
            <h4 ng-repeat="link in top_links"><a ng-href="#{{ link.href }}">
                <i class="glyphicon" ng-class="[link.icon]"></i> {{ link.label }}
            </a></h4>
            <div pagination ng-if="showPagination" total-items="filteredRows.length" items-per-page="itemsPerPage"
                    class="pagination-sm pull-right" on-select-page="setPage(page)" page="currentPage">
            </div>
            <div style="clear: both;"/>
        </div>

        <input type="text" class="form-control input-sm" placeholder="{{ gettext('Search') }}" ng-model="table.filter" />

        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th class="field-link" ng-click="table.reOrder(field)" ng-repeat="field in table.fields | orderBy:'position'"
                            ng-style="{width: field.width}">
                        {{ field.label }}
                        <span ng-if="!table.isOrderedBy(field, true) && !table.isOrderedBy(field, false)" class="glyphicon glyphicon-sort"></span>
                        <span ng-if="table.isOrderedBy(field, false)" class="glyphicon glyphicon-sort-by-alphabet"></span>
                        <span ng-if="table.isOrderedBy(field, true)" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                    </th>
                    <th ng-if="table.buttons.length" ng-style="{width: table.buttonFieldWidth}">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in (filteredRows = (table.rows | filter:table.filter | orderBy:table.orderBy)) | startFrom:getPageStart() | limitTo:itemsPerPage"
                        ng-mouseenter="row.$hover = true" ng-mouseleave="row.$hover = false">
                    <td ng-repeat="field in table.fields | orderBy:'position'"
                            ng-style="{width: field.width}">
                        <a ng-if="table.hasLink(field, row)" ng-href="{{ table.getLink(field, row) }}">
                            <span ng-if="!table.isNull(field, row)">{{ table.getDisplay(field, row) }}</span>
                            <i ng-if="table.isNull(field, row)">{{ field.default }}</i>
                        </a>
                        <span ng-if="!table.hasLink(field, row)">
                            <span ng-if="!table.isNull(field, row)">{{ table.getDisplay(field, row) }}</span>
                            <i ng-if="table.isNull(field, row)">{{ field.default }}</i>
                        </span>
                    </td>
                    <td class="table-button-row" ng-style="{width: table.buttonFieldWidth}">
                        <a ng-repeat="button in table.buttons" ng-href="{{ urlFormat(button.href, button.args(row)) }}"
                                ng-style="{opacity: row.$hover ? '1' : '0.4'}" title="{{ button.title }}" 
                                ng-if="button.condition(row)" target="{{ button.target }}">
                            <span class="glyphicon" ng-class="[button.icon]"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-info alert-sm" ng-hide="filteredRows.length > 0">{{ gettext('No entries found.') }}</div>

    </div>

</div>