<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html ng-app="{{ ng_app }}">

    <head>

        <title>{% verbatim %}{{ title }}{% endverbatim %} - VhostManager</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" href="{% static 'tp/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'tp/css/bootstrap-datetimepicker.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'tp/css/united.css' %}"/>

        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

        {% if settings.DEBUG %}

            <script type="text/javascript" src="{% static 'tp/js/jquery-1.10.2.js' %}"></script>
            <script src="{% static 'tp/js/bootstrap.js' %}"></script>
            <script src="{% static 'tp/js/moment.js' %}"></script>
            <script src="{% static 'tp/js/angular.js' %}"></script>
            <script src="{% static 'tp/js/angular-cookies.js' %}"></script>
            <script src="{% static 'tp/js/angular-sanitize.js' %}"></script>
            <script src="{% static 'tp/js/angular-ui-bootstrap.js' %}"></script>
            <script src="{% static 'tp/js/angular-route.js' %}"></script>
            <script src="{% static 'tp/js/moment-with-langs.js' %}"></script>
            <script src="{% static 'tp/js/datetimepicker.js' %}"></script>
            <script src="{% static 'tp/js/lodash.js' %}"></script>
            <script src="{% static 'tp/js/restangular.js' %}"></script>

            <script src="{% static 'js/shared.js' %}"></script>

        {% else %}

            <script type="text/javascript" src="{% static 'tp/js/jquery-1.10.2.min.js' %}"></script>
            <script src="{% static 'tp/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'tp/js/bootstrap-datetimepicker.min.js' %}"></script>
            <script src="{% static 'tp/js/moment.min.js' %}"></script>
            <script src="{% static 'tp/js/angular.min.js' %}"></script>
            <script src="{% static 'tp/js/angular-cookies.min.js' %}"></script>
            <script src="{% static 'tp/js/angular-sanitize.min.js' %}"></script>
            <script src="{% static 'tp/js/angular-ui-bootstrap.min.js' %}"></script>
            <script src="{% static 'tp/js/angular-route.min.js' %}"></script>
            <script src="{% static 'tp/js/moment-with-langs.min.js' %}"></script>
            <script src="{% static 'tp/js/datetimepicker.js' %}"></script>
            <script src="{% static 'tp/js/lodash.min.js' %}"></script>
            <script src="{% static 'tp/js/restangular.min.js' %}"></script>

            <script src="{% static 'js/shared.min.js' %}"></script>

        {% endif %}

        <script src="{% url 'catalog' %}"></script>

        {% block header %}

            <script type="text/javascript">

                var vhmConstants = angular.module("vhmConstants", []);
                vhmConstants.constant("vhmc", {{ ng_constants |safe }});
                vhmConstants.constant("gettext", django.gettext);

            </script>

            <script src="{% static script_url %}"></script>

        {% endblock %}

    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">
                        VhostManager
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li><a href="#/rents/">{% trans "Rents" %}</a></li>
                        <li><a href="#/vhosts/">{% trans "Virtual Hosts" %}</a></li>
                        <li><a href="#/packages/">{% trans "Site packages" %}</a></li>
                        {% if user.is_teacher or user.is_admin %}
                            <li><a href="#/users/">{% trans "Users" %}</a></li>
                            <li><a href="#/groups/">{% trans "Groups" %}</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ user.display_name }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/profile/">{% trans "View profile" %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'vhmmisc_logout' %}">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

        {% verbatim %}
        <div class="container">

            <div class="page-header">
                <h1>{{ subtitle }}</h1>
            </div>

            <div ng-if="message != null" class="alert alert-dismissable alert-{{ message.tag }}">
              <button type="button" class="close" ng-click="clear_message()">&times;</button>
              {{ message.text }}
            </div>

            <div class="main-view" ng-view></div>

        </div>
        {% endverbatim %}

    </body>

</html>