<!DOCTYPE html>
{% load static %}
<html>

    <head>

        {% block title %}
            <title>{{ title }}</title>
        {% endblock %}

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" href="{% static 'tp/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'tp/css/bootstrap-datetimepicker.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'tp/css/united.css' %}"/>

        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

        {% if DEBUG %}

            <script src="{% static 'tp/js/bootstrap.js' %}"></script>

        {% else %}

            <script src="{% static 'tp/js/bootstrap.min.js' %}"></script>

        {% endif %}

        <script src="{% url 'catalog' %}"></script>

    </head>

    <body>

        {% block content %}
        {% endblock %}

    </body>

</html>