{% extends "vhmweb/base_plain.html" %}
{% load i18n %}

{% block content %}

<div class="container">

    <h2 class="page-header">{{ title }}</h2>
    <p>{{ description }}</p>
    <small>{% trans "Code" %}: {{ code }}</small>

</div>

{% endblock %}