{% extends "vhmweb/base_plain.html" %}
{% load i18n %}

{% block content %}

<div class="login-box">

    <div class="page-header login-header">
        <h2>VhostManager</h2>
    </div>

    <form action="{% url 'vhmmisc_login' %}" method="post">

        {% csrf_token %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for err in form.non_field_errors %}
            <div class="alert alert-danger">{{ err }}</div>
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="form-group">

                {{ field.label_tag }}
                {{ field }}

        </div>
        {% endfor %}

        <input class="btn btn-info" type="submit" value="{% trans 'Login' %}" />

    </form>

    <noscript>
        <div class="alert alert-danger">{% trans 'VhostManager needs javascript support.
            Please enable javascript on your browser.</div>
    </noscript>

</div>

{% endblock %}