{% extends "vhmadmin/base.html" %}
{% load i18n %}

{% block content %}

<p>
    {% trans "Are you sure you want to delete this rent?" %}
    <br/>
    <b>{% trans "Deleting rents is not recommended, as passed rents are kept as logs for user activity." %}
    {% trans "If you want to manually stop an active rent, cancel it instead." %}</b>
</p>

<form action="#" class="form-inline" method="post">
    {% csrf_token %}
    <input type="submit" value="{% trans 'Yes' %}" class="btn btn-success" />
    <a href="{% url 'vhmadmin_rent_list' %}" class="btn btn-sm btn-danger">
        {% trans "No" %}
    </a>
</form>

{% endblock %}