{% extends "vhmadmin/base.html" %}
{% load i18n %}
{% load static %}

{% block sidenav %}
    <li><a href="{% url 'vhmadmin_rent_create' %}">{% trans "New rent" %}</a></li>
    <li><a href="{% url 'vhmadmin_rent_group_create' %}">{% trans "Rent for group" %}</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% trans "Filter by status" %} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'vhmadmin_rent_list' %}">
                {% trans "Any" %}
            </a></li>
            {% for sf in status_filters %}
            <li><a href="{% url 'vhmadmin_rent_list' %}?status={{ sf|first }}">
                {{ sf|last }}
            </a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block content %}

<div ng-app="vhmRent" ng-controller="RentTableController" ng-include="'{% static 'templates/table.html' %}'"></div>

{% comment %}
{% if rents.exists %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "User" %}</th>
            <th>{% trans "VirtualHost" %}</th>
            <th>{% trans "Start date" %}</th>
            <th>{% trans "End date" %}</th>
            <th>{% trans "Site Package" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for r in rents %}
        <tr>
            <td><a href="{% url 'vhmadmin_user_detail' r.user.pk %}">
                {{ r.user.display_name }}
            </a></td>
            <td><a href="{% url 'vhmadmin_vhost_detail' r.vhost.pk %}">
                {{ r.vhost.name }}
            </a></td>
            <td>{{ r.start_date }}</td>
            <td>{{ r.end_date }}</td>
            {% if r.package %}
            <td title="{{ r.package.description }}">{{ r.package.name }}</td>
            {% else %}
            <td><i>{% trans "No package" %}</i></td>
            {% endif %}
            <td>{{ r.get_status_display }}</td>
            <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown">
                    {% trans "Actions" %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% if r.status in r.STATUS_CURRENT %}
                    <li><a href="{% url 'vhmadmin_rent_cancel' r.pk %}">
                        {% trans "Cancel" %}
                    </a></li>
                    {% elif r.status == r.PENDING %}
                    <li><a href="{% url 'vhmadmin_rent_accept' r.pk %}">
                        {% trans "Accept" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_rent_decline' r.pk %}">
                        {% trans "Decline" %}
                    </a></li>
                    {% endif %}
                    <li><a href="{% url 'vhmadmin_rent_edit' r.pk %}">
                        {% trans "Edit" %}
                    </a></li>
                    <li><a href="{% url 'vhmadmin_rent_delete' r.pk %}">
                        {% trans "Delete" %}
                    </a></li>
                </ul>
            </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<p>{% trans "No rents found." %}</p>

{% endif %}
{% endcomment %}

{% endblock %}