body {
    background-color: #F0F0F0;
    overflow-y: scroll;
}

/* Generic styles */

.page-header {
    margin-top: 20px;
}
h1 {
    font-size: 34px;
}

.box {
    width: 300px;
    margin: auto;
}

.loading-screen {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.container {
}

a.huge-link > div {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
a.huge-link > div:hover {
    background-color: #DDDDDD;
}
a.huge-link:hover {
    text-decoration: none;
}
a.huge-link .glyphicon {
    margin-right: 7px;
}
a.huge-link h3 {
    color: #000000;
    margin-top: 1px;
}

/* Specific styles */

body > .container {
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

body > .navbar {
    background-image: none;
}

.login-box {
    border: 1px solid #A0A0A0;
    background-color: #FFFFFF;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    width: 250px;
}
.login-box > .login-header {
    margin-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.login-box > .login-header > h2 {
    margin-top: 1px;
}
.login-box .alert {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidenav {
    background-color: #F0F0F0;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.sidenav > li > a {
    padding: 3px 10px;
}
.sidenav > li > a:hover {
    background-color: #E0E0E0;
}

.top-bar {
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.top-bar .glyphicon {
    color: #000;
}
.top-bar h4 {
    display: inline;
    margin-right: 25px;
}

.angular-table {
}
.angular-table div.alert {
    padding-top: 10px;
    padding-bottom: 10px;
}
.angular-table table {
    width: 100%;
    position: relative;
    top: 0;
}
.angular-table table td {
}
table .field-link {
    cursor: pointer;
}

ul.pagination {
    margin: 0;
}
ul.pagination > li > a {
    cursor: pointer;
}

.table-button-row {
    vertical-align: middle;
}
.table-button-row a {
    float: right;
    margin-right: 4px;
}
.table-button-row a:hover {
    text-decoration: none;
}

.btn.btn-table {
    padding: 1px 5px 1px;
    font-size: 7px;
    margin-right: -3px;
}

.profile-area {
    width: 600px;
    margin: auto;
}
.profile-area .form-group {
    margin-bottom: 0px;
}